extends ../../layout/default

block content

    script(src="/wro/proposals.js")

    div(ng-app="ProposalApp", ng-controller="ProposalController", ng-init="init(#{proposalId.toString()})", class="container")

        div(class="o-page-header")
            h3
                span Proposal for {{proposal.client}} - Project: {{proposal.project}}
            div(class="row")
                div(class="col-md-8")
                    em Created on {{proposal.createdOn}}
                div(class="col-md-4 text-right")
                    em Last updated on {{proposal.lastUpdated}}

        p

        div(class="col-md-12 form-group")
            span {{proposal.description }}

        div(class="span12")
            div(class="form-group col-md-6")
                label Contacts
                div(ng-repeat="contact in proposal.contacts")
                    span {{contact.name}} - {{contact.email}}
            div(class="form-group col-md-6")
                label People Involved
                div(ng-repeat="personInvolved in proposal.peopleInvolved")
                    span {{personInvolved.name}} - {{personInvolved.email}}

        div(class="col-md-12 form-group")
            label Notes
            div.span {{proposal.notes}}

        div(class="col-md-12")
            div(ng-repeat="estimate in proposal.estimates")
                h4 {{estimate.phase}}

                div(class="tablerow col-md-12")
                    div(class="tableheader col-md-5").span Feature
                    div(class="tableheader col-md-4").span Assumptions
                    div(class="tableheader col-md-1").span Pes.
                    div(class="tableheader col-md-1").span Opt.
                    div(class="tableheader col-md-1").span Rea.

                div(ng-repeat="feature in estimate.features")
                    div(class="tablerow col-md-12")
                        div(class="col-md-5").span {{feature.description}}
                        div(class="col-md-4").span {{feature.assumptions}}
                        div(class="col-md-1").span {{feature.pessimistic}}
                        div(class="col-md-1").span {{feature.optimistic}}
                        div(class="col-md-1").span {{feature.realistic}}

                div(class="col-md-12")
                    hr

                div(class="col-md-12")
                        div(class="col-md-3").span
                        div(class="tableheader col-md-2").span Pessimistic
                        div(class="tableheader col-md-2").span Optimistic
                        div(class="tableheader col-md-2").span Realistic
                div(class="col-md-12")
                    div(class="col-md-3").span Days
                    div(class="col-md-2").span {{estimate.cost.days.pessimistic}}
                    div(class="col-md-2").span {{estimate.cost.days.optimistic}}
                    div(class="col-md-2").span {{estimate.cost.days.realistic}}
                div(class="col-md-12")
                    div(class="col-md-3").span Months
                    div(class="col-md-2").span {{estimate.cost.months.pessimistic}}
                    div(class="col-md-2").span {{estimate.cost.months.optimistic}}
                    div(class="col-md-2").span {{estimate.cost.months.realistic}}

                div(class="col-md-12")
                    div(class="col-md-12")
                        h4 Team options
                    div(class="container", ng-repeat="teamOption in estimate.cost.teamOptions")
                        div(class="col-md-12")
                            div(ng-repeat="teamMember in teamOption.team")
                                div(class="col-md-3", ng-show="teamMember.craftsmen").span {{teamMember.craftsmen}} craftsmen at {{teamMember.dailyRate | currency:"£"}}
                                div(class="col-md-3", ng-show="teamMember.apprentice").span {{teamMember.apprentice}} apprentice at {{teamMember.dailyRate | currency:"£"}}
                        div(class="col-md-12")
                            div(class="col-md-1").span Cost:
                            div(class="col-md-3").span Pessimistic: {{teamOption.pessimisticCost | currency:"£"}}
                            div(class="col-md-3").span Optimistic: {{teamOption.optimisticCost | currency:"£"}}
                            div(class="col-md-3").span Realistic: {{teamOption.realisticCost | currency:"£"}}
                        div(class="col-md-9")
                            hr


