extends ../../layout/default

block content

    script(src="/wro/proposals.js")

    div(ng-app="ProposalApp")

        div(class="o-page-header")
            h3= title

        div(ng-controller="NewProposalController as proposal", ng-init="loadFormData()")

            div(class="container col-lg-10")
                form(name="form", novalidate, class="css-form", method="POST", ng-init="newProposal.contacts = [{name:'', email:''},{name:'', email:''}]")
                    fieldset
                        div(class="row")
                            div(class="col-lg-4")
                                span
                                    label Client:
                                span
                                    select(ng-options="client.id as client.name for client in clients",
                                        ng-model="newProposal.client.id", required)
                                        option(value="") -- Please select --
                            div(class="col-lg-4")
                                span
                                    label Project:
                                span
                                    input(type="text", ng-model="newProposal.project", name="pProject", required)
                                div(ng-show="form.pProject.$error.required")
                                    span What's the name of the project?
                        div(class="row")
                            div(class="col-lg-8")
                                div
                                    span
                                        label Contacts
                            div(class="col-lg-8")
                                div
                                    span
                                        label Name
                                    span
                                        input(type="text", ng-model="newProposal.contacts[0].name", required)
                                    span
                                        label email
                                    span
                                        input(type="text", ng-model="newProposal.contacts[0].email", required)
                                div
                                    span
                                        label Name
                                    span
                                        input(type="text", ng-model="newProposal.contacts[1].name")
                                    span
                                        label email
                                    span
                                        input(type="text", ng-model="newProposal.contacts[1].email")
                        div(class="row")
                            div(class="col-lg-8")
                                div
                                    span
                                        label Description
                                div
                                    span
                                        textarea(ng-model="newProposal.description")
                            div(class="col-lg-8")
                                div
                                    span
                                        label Notes
                                div
                                    span
                                        textarea(ng-model="newProposal.notes")
                        div
                            pre {{newProposal}}

                    button(ng-click="reset()", ng-disabled="isUnchanged(newProposal)", class="btn") Reset
                    button(ng-click="create(newProposal)", ng-disabled="form.$invalid || isUnchanged(newProposal)", class="btn btn-primary") Save
