extends ../../layout/default

block content

    script(src="/wro/proposals.js")

    div(ng-app="ProposalApp")

        div(class="o-page-header")
            h3= title

        div(class="navbar-collapse collapse")
            ul(class="nav navbar-nav")
                li
                    a(href="/proposals/new") new proposal

        div(ng-controller="ProposalsController", ng-init="loadProposals()")

            div(class="tablerow col-md-12")
                div(class="tableheader col-md-3").span Project Name
                div(class="tableheader col-md-3").span Client
                div(class="tableheader col-md-3").span Last Updated
                div(class="tableheader col-md-3").span People Involved

            div(ng-repeat="proposal in proposals")
                div(class="tablerow col-md-12")
                    div(class="col-md-3")
                        a(href="/proposals/proposal/{{proposal.id}}") {{proposal.projectName}}
                    div(class="col-md-3") {{proposal.client.name}}
                    div(class="col-md-3") {{proposal.lastUpdated}}
                    div(class="col-md-3")
                        div(ng-repeat="person in proposal.peopleInvolved")
                            span {{person}}
