extends ../../layout/default

block content

    script(src="/wro/proposal.js")

    div(ng-app="App")

        div(class="o-page-header")
            h3= title

        div(ng-controller="NewProposalController as newProposal", ng-init="loadFormData()")

            div(class="container")
                form(name="form", action="#{page.submitAction", method="POST", class="css-form")
                    fieldset
                        div
                            label Client
                            select(ng-options="client.id as client.name for client in clients",
                                   ng-model="proposal", required="true")
                                option(value="") -- Please select --

