
#fixed {
	height: 600px;
	overflow: auto;
}

table {
	margin-top: 15px;
}

table thead tr {
	font-weight: bold;
}

tr .numeric {
	text-align: right;
}

.tablecell {
	display: table-cell;
	padding: 8px;
	border-top: 1px solid #dddddd;
}

.tableheader .tablecell {
	border-top: none;
}

div.tablerow {
	display: table-row;
	padding: 8px;
}

.tablerow:hover {
	background-color: #f5f5f5;
}

div .tableheader  {
	font-weight: bold;
	height: 15px;
	border: none;
}
div .tableheader > span.tablecell {
	font-weight: bold;
	border: none;
}

td img {
	max-width: 20px;
	max-height: 20px;
}