extends ../../layout/default

block content

    div(ng-app="app", ng-controller="ProposalController as proposal", ng-init="init(#{proposalId.toString()})", class="container")

        div(class="o-page-header")
            h3
                span Proposal for {{proposal.json.client}} - Project: {{proposal.json.project}}
            div(class="row")
                div(class="col-md-8")
                    em Created on {{proposal.json.createdOn}}
                div(class="col-md-4 text-right")
                    em Last updated on {{proposal.json.lastUpdated}}

        p

        div(class="col-md-12 form-group")
            span {{proposal.json.description }}

        div(class="span12")
            div(class="form-group col-md-6")
                label Contacts
                div(ng-repeat="contact in proposal.json.contacts")
                    span {{contact.name}} - {{contact.email}}
            div(class="form-group col-md-6")
                label People Involved
                div(ng-repeat="personInvolved in proposal.json.peopleInvolved")
                    span {{personInvolved.name}} - {{personInvolved.email}}

        div(class="col-md-12 form-group")
            label Notes
            div.span {{proposal.json.notes}}

        div(class="col-md-12")
            div(ng-repeat="estimate in proposal.json.estimates")
                h4 {{estimate.phase}}

                div(class="tablerow col-md-12")
                    div(class="tableheader col-md-5").span Feature
                    div(class="tableheader col-md-4").span Assumptions
                    div(class="tableheader col-md-1").span Pes.
                    div(class="tableheader col-md-1").span Opt.
                    div(class="tableheader col-md-1").span Rea.

                div(ng-repeat="feature in estimate.features")
                    div(class="tablerow col-md-12")
                        div(class="col-md-5").span {{feature.description}}
                        div(class="col-md-4").span {{feature.assumptions}}
                        div(class="col-md-1").span {{feature.pessimistic}}
                        div(class="col-md-1").span {{feature.optimistic}}
                        div(class="col-md-1").span {{feature.realistic}}

                div(class="col-md-12")
                        div(class="col-md-3").span
                        div(class="tableheader col-md-2").span Pessimistic
                        div(class="tableheader col-md-2").span Optimistic
                        div(class="tableheader col-md-2").span Realistic
                div(class="col-md-12")
                    div(class="col-md-3").span Days
                    div(class="col-md-2").span {{estimate.cost.days.pessimistic}}
                    div(class="col-md-2").span {{estimate.cost.days.optimistic}}
                    div(class="col-md-2").span {{estimate.cost.days.realistic}}
                div(class="col-md-12")
                    div(class="col-md-3").span Months
                    div(class="col-md-2").span {{estimate.cost.months.pessimistic}}
                    div(class="col-md-2").span {{estimate.cost.months.optimistic}}
                    div(class="col-md-2").span {{estimate.cost.months.realistic}}

                div(class="col-md-12")
                    div(class="col-md-12")
                        h4 Team options
                    div(ng-repeat="teamOption in estimate.cost.teamOptions")
                        div(class="tablerow col-md-12")
                            div(class="col-md-3").span {{teamOption.description}}
                            div(class="col-md-6 container-fluid")
                                div(ng-repeat="teamMember in teamOption.team")
                                    div(ng-show="teamMember.craftsmen").span {{teamMember.craftsmen}} craftsmen at {{teamMember.dailyRate}}
                                    div(ng-show="teamMember.apprentice").span {{teamMember.apprentice}} apprentice at {{teamMember.dailyRate}}



