extends ../../layout/default

block content

    div(ng-app="app-estimates")

        div(class="navbar-collapse collapse")
            ul(class="nav navbar-nav")
                li
                    a(href="/new-project-estimate") new project estimate

        div(ng-controller="EstimatesController as estimates")

            div(class="table-fixed-height")
                div(class="table-header")
                    span(class="table-cell") Project Name
                    span(class="table-cell") Client
                    span(class="table-cell") Last Updated
                    span(class="table-cell") People Involved
                div(ng-repeat="estimate in estimates.all", class="table-row")
                    div(class="table-cell")
                        a(href="#") {{estimate.projectName}}
                    div(class="table-cell") {{estimate.client}}
                    div(class="table-cell") {{estimate.lastUpdated}}
                    div(class="table-cell")
                        div(ng-repeat="person in estimate.peopleInvolved")
                            span {{person}}