input:required:invalid, input:focus:invalid {
	background-image: url(/img/invalid.png);
	background-position: right top;
	background-repeat: no-repeat;
}
input:required:valid {
	background-image: url(/img/valid.png);
	background-position: right top;
	background-repeat: no-repeat;
}

select {
	height: 22px;
}

fieldset {
	margin: 0px 0px 20px 0px;
}

legend.sublegend {
	margin: 15px 0px 0px 0px;
}

input, select, textarea {
	margin: 0px 10px 0px 0px;
	padding-left:5px;
	padding-right:0px;
}

fieldset>span {
	display:inline-block;
	margin:0px 5px 0px 0px;
}

label {
	margin-bottom: 2px;
	margin-top: 10px;
	font-weight: bold;
	width: 250px;
	display: inline-block;
}

textarea {
	width: 90%;
	height: 60px;
}

.css-form input.ng-invalid.ng-dirty {
	background-color: #FA787E;
}

.css-form input.ng-valid.ng-dirty {
	background-color: #78FA89;
}