!!! 5
html
    head
        title= pageTitle
    body
        header(class="header")
            div(id="logo")
                img(src="/img/codurance_logo.png")
        div(id="body")
            block content