!!! 5
html
    head
        meta(charset="utf-8")
        meta(content="IE=9", http-equiv="X-UA-Compatible")
        meta(content="width=device-width, initial-scale=1", name="viewport")
        link(href="/wro/core.css", rel="stylesheet")
        script(src="/wro/core.js")
        script(src="/js/gandalf/proposalNew.js")

    title= title
    body
        div(class="navbar navbar-default navbar-static-top", role="navigation")
            div(class="container")
                div(class="navbar-header")
                    a(class="navbar-brand", href="/") Gandalf
                div(class="navbar-collapse collapse")
                    ul(class="nav navbar-nav")
                        li(class="active")
                            a(href="/proposals") Proposals
                        li
                            a(href="#") Training
                        li
                            a(href="#") Clients
                    ul(class="nav navbar-nav navbar-right")
                        li
                            span(class="navbar-text") Sandro Mancuso

        div(class="container body", role="main")
            block content

        div(class="footer")
            div(class="container")
                p(class="text-muted") 2014 &copy; Codurance LTD.





